nav {
  text-align: center;

  a {
    font-size: 1.3rem;
    margin: 0 10px;
    text-decoration: none;
    &:visited {
      color: inherit;
    }

    &:hover {
      color: #2000bb;
    }
  }  
}
